h1{
  font-family: 'Caveat', cursive;
  box-shadow: 20px 20px 50px #f0f0f5;
}

h2 {
  font-family: 'Amatic SC', cursive;
}

img {
  width: 30%;
  height: 25vw;
  float: left;
  margin: 1.66%;
  object-fit: cover;
  border-radius: 8px;
}

img:hover{
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}
